<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            
            <mat-form-field appearance="outline">
                
                <mat-label>First Name</mat-label>
                <input matInput type="text" required maxlength="200" formControlName="firstName">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" required maxlength="200" formControlName="lastName">
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" required maxlength="100" formControlName="email">
                <mat-error *ngIf="empForm.hasError('email')">Invalid email format</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" required max="9999-12-31" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
        </div>
    
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label ><b>Gender</b></mat-label>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
              </mat-radio-group>
              
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput type="text" required  formControlName="phone" pattern="^(?:\+84|0)(\d{9,10})$">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput type="text" required maxlength="100" formControlName="address">
              </mat-form-field>
    
        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="position">
                <mat-label><b>Position</b></mat-label>
                <mat-radio-button value="dev">Dev</mat-radio-button>
                <mat-radio-button value="ba">BA</mat-radio-button>
                <mat-radio-button value="tester">Tester</mat-radio-button>
                <mat-radio-button value="intern">Intern</mat-radio-button>
                <mat-radio-button value="hr">HR</mat-radio-button>
              </mat-radio-group>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Salary</mat-label>
                <input matInput type="number" required formControlName="salary">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Exp</mat-label>
                <input matInput type="text" required formControlName="exp">
              </mat-form-field>
        </div>
        
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="true" >Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? "Update" : "Save"}}</button>
    </div>
</form>
